<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <title>Add animal</title>
</head>
<body>
<div>
    <!-- tip to easily see objects printed in full instead of [object Object] -->
<%- JSON.stringify(messages) %> 
<!-- based on the structure of your messages, determine how to display them -->
<% if(messages.registration) { %>
     <% for (var x of messages.registration) { %>
      <h3><%= x %></h3>
     <% } %>
 <% } %>
    <form action="/editanimal/<%= animal._id%>" method="post">
        <label>Animal Name : </label>
        <input type="text" name="name" placeholder="<%= animal.name %>">
        <label>Age : </label>
        <input type="number" min="0" max="10" name="age" placeholder="<%= animal.age %>">
        <label>Color : </label>
        <input type="text" name="color" placeholder="<%= animal.color %>">
        <input type="submit" name="submit">
    </form>
</div>
</body>
</html>